<h1>Edit Page</h1>
<form id="newEntry" action="/edit">
<fieldset>
<legend>Edit Workout</legend>
<input type="hidden" name="id" value={{workout.id}}>
<label for="name">Name </label>
<input type="text" required name="name" id="name" value="{{workout.name}}">
<label for="reps">Reps </label>
<input type="number" name="reps" id="reps" value="{{workout.reps}}">
<label for="weight">Weight </label>
<input type="number" name="weight" id="weight" value="{{workout.weight}}">
<label for="date">Date </label>
<input type="date" name="date" id="date" value="{{workout.date}}">

{{#if workout.pound}}
<label>lbs</label>
<input type="radio" name="pound" value="1" checked="checked">
<label>kgs</label>
<input type="radio" name="pound" value="0">

{{else}}
<label>lbs</label>
<input type="radio" name="pound" value="1">
<label>kgs</label>
<input type="radio" name="pound" value="0" checked="checked">
{{/if}}
<input type="submit" id="submit" value="submit" onclick="window.location.href='/'">
</fieldset>
</form>